click==6.7
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
Flask==0.12.2
Flask-SocketIO
gevent
gevent-websocket
greenlet
gunicorn
itsdangerous
Jinja2
opencv-python
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
